<div>
    <div data-dojo-attach-point="imgDiv" style="float:left; padding-right: 20px">
        <img src=${imageLink}></img>
    </div>
    <div data-dojo-attach-point="detailsDiv" style="float:left; max-width: 60%">
        <label>Title: </label><span>${title}</span><br>
        <label>Authors: </label><span>${authors}</span><br>
        <label>Published Date: </label><span>${pubDate}</span><br>
        <label>Description: </label><span>${description}</span><br>
    </div>
    <div style="clear:both; height: 30px;"></div>
</div>