<div>
    <div style="text-align:center;">
        <header>
            <h2>Search for books with Google Books API</h2>
        </header>
        <input data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="searchBox"
               style="width:300px;" data-dojo-props="maxLength:30"
               placeholder="Enter keywords here..."/>

        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchBtn" style="padding-bottom:15px;">
            Search
        </button>
    </div>

    <div data-dojo-attach-point="booksDiv" style="padding-top: 20px; line-height: 1.5em"></div>
</div>
